.container {
  width: 100%;
  padding-right: calc(16px * 0.5);
  padding-left: calc(16px * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.page__wrapper {
	padding: 32px;
	box-sizing: border-box;
}

.page__dashboard {
	padding: 32px 40px;
	box-sizing: border-box;
	position: relative;
	min-height: 505px;
	height: 100%;
	border-radius: 4px;
	box-shadow: 0 8px 16px 0 rgb(64 76 79 / 16%);
}

